body {
    font-size: 17px;
}

h1, h2 {
    font-size: 40px;
    font-weight: 700;
    color: #4a463f;
}

li {
    color: #f5e8d3 !important;
    font-size: 18px;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #4a463f;
}

